/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Typography
	#Links
	#Buttons
	#Tothetop
	#Font Css Rules
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

*, *:before, *:after {
    -moz-box-sizing: border-box;
	-webkit-box-sizing :border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}



	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; 
		text-decoration:none;}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }

	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
		
img {
    display: inline-block;
    vertical-align: middle;
}

img {
    height: auto;
    max-width: 100%;
}

*::-moz-selection {
    background: #343434;
    color: #ffffff;
}

a:focus {
outline: 0;
}
	


/* #Basic Styles
================================================== */
	body {
		background: #ffffff;
		font: 13px/21px "open_sansregular", Arial, sans-serif;
		color: #999;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		-webkit-text-stroke: 0.35px;
 }

	.titleBig{
		text-transform:uppercase;
		position:relative;
		display:inline-block;
		margin-bottom:45px;
		font-size:16px;
	}
	
	.titleBig:after {
	    border-bottom: 3px solid #343434;
	    content: "";
	    display: block;
	    position: absolute;
	    right: 1px;
	    top: 20px;
	    width: 15px;
	    z-index: 0;
	}
	
	
	
	.titleSmall{
		margin-bottom:40px;
	}


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #343434;
		font-weight: normal; }
	h1{font-size:26px;}
	h2{font-size:16px;}
	h3{font-size:15px;}
	h4{font-size:13px;}
	

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }


/* #Links
================================================== */
	
	a,.errorForm {
		color:#343434;
		-moz-transition: all 0.5s ease 0s;
		-ms-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
	}
	
	
/* #Buttons
================================================== */

	.regButton{
		font-size:16px;
		text-transform:uppercase;
		border:3px solid #343434;
		padding:9px 20px;
	}

	.regButton i{
		margin-right:10px;
	}



/* #Font Rules
================================================== */

.bLogo {font-family: 'open_sansextrabold', Arial, sans-serif;} 
nav#mainNav li, .aboutInfo ul span, .cForm label, .regButton, h1, h2, h3, h4, h5, h6, .pList li{font-family: 'open_sansbold', Arial, sans-serif;}
.projDesc span,.dtIco span.date, .det h3 span, ul#category li a{font-family: "open_sanslight_italic" , Arial, sans-serif;}

.aboutTitle h1 span, .aboutIntro h1 , .cForm input[type="text"], .cForm input[type="email"], input[type="number"], .cForm textarea, #success h2, #error h2{font-family: "open_sanslight" , Arial, sans-serif;}


nav#mainNav li, ul#category li a, .projDesc span, .cForm input[type="text"]{font-size:13px;}




/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.offset{padding-top:60px; padding-bottom:60px;}
	.section{text-align:center;}
	.section h2{text-align:left;}
	.bBottom{border-bottom:3px solid #efefef;}
	.top{margin-top:60px;}



#projects-slider .owl-item{
  background: #3fbf79;
  padding: 30px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
}

#projects-slider .item {
  text-align: center !important;	
}
