@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?71518129');
  src: url('../font/fontello.eot?71518129#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?71518129') format('woff'),
       url('../font/fontello.ttf?71518129') format('truetype'),
       url('../font/fontello.svg?71518129#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?71518129#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 

.icon-github:before { content: '\e800'; } /* 'î €' */
.icon-facebook:before { content: '\e801'; } /* 'î ' */
.icon-codepen:before { content: '\e802'; } /* 'î ‚' */
.icon-blogger-rect:before { content: '\e803'; } /* 'î ƒ' */
.icon-jsfiddle:before { content: '\e804'; } /* 'î „' */
.icon-bitbucket:before { content: '\e805'; } /* 'î …' */
.icon-gplus:before { content: '\e806'; } /* 'î †' */
.icon-twitter:before { content: '\e807'; } /* 'î ‡' */
.icon-stackoverflow:before { content: '\e808'; } /* 'î ˆ' */
.icon-menu:before { content: '\e809'; } /* 'î ‰' */
