
#about i.icon-github,
#about i.icon-facebook,
#about i.icon-codepen,
#about i.icon-jsfiddle,
#about i.icon-bitbucket,
#about i.icon-gplus,
#about i.icon-twitter,
#about i.icon-stackoverflow
{
	font-size: 220% !important;
}


/*Preloader*/
#loader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}


#loaderInner {
    background:#ffffff url(../images/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}


/*Wrapper*/
#wrapper{
	position:relative;
	width:100%;
}

/*End wrapper*/


/*Header*/

header{
	position:fixed;
	width:100%;
	top:0;
	left:0;
	z-index:1001;
	background-color: rgba(255, 255, 255, 0.97);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.showHeader{
	opacity:1;
}

.mainHeader{
	position:relative;
	width:100%;
}



nav#mainNav{
	margin-top:2px;
	text-align:center;
}

nav#mainNav li {
	display: inline-block;
	position:relative;
}


nav#mainNav li a{
    color: #343434;
    display: block;
    padding: 22px 15px;
    position: relative;

}


nav#mainNav a.active:after{
	border-bottom: 2px solid #343434;
    content: "";
    display: block;
    position: absolute;
    right: 15px;
    top: 40px;
    width: 14px;
    z-index: 0;
}

.mobileBtn {
	background:#ffffff;
	padding:5px;
	text-align:center;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	z-index:1000;
	display:none;
	box-shadow:0 0 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.2);
	-ms-box-shadow: 0 0 2px rgba(0,0,0,.2);
	-o-box-shadow: 0 0 2px rgba(0,0,0,.2);
}


.mobileBtn i{
	font-size:16px;
	color:#343434;
}


/*End header*/


/*About*/

.about{
	position :relative;
	margin-top:68px;
	
}

.lightGrey{
	background:#efefef;
	padding-top:100px;
	padding-bottom:50px;
}



.shortBtn {
    display: block;
    position: absolute;
    left: 252px;
    top: -35px;
    width: 55px;
}



.download, .download span, .download i {
    background: #03CC85;
}

.print, .print span, .print i {
    background-color: #343434;
}

.print i, .download i {
    color: #ffffff;
    display: block;
    font-size: 17px;
    height: 45px;
    line-height: 45px;
    position: relative;
    text-align: center;
    z-index: 13;
	margin-bottom:2px;
}


.print span, .download span {
    color: #FFFFFF;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    opacity: 1;
    overflow: hidden;
    padding: 0 16px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	width: 0;
    z-index: 12;
}

.print:hover span {
    margin-right: 20px;
    opacity: 1;
    width: 170px;
    box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
.download:hover span {
    margin-right: 20px;
    opacity: 1;
    width: 170px;
    box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}


.imgAbout {
	background-image: url(../images/about.jpg) ;
    background-position: 50% 20%;
    background-size: cover;
    display: block;
    min-height: 300px;
    position: static;
    width: 100%;
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 11;
}



.aboutContent{
}

.aboutTitle {
	height: 100px;
	margin-left: 400px;
}

.aboutTitle h1{
	color:#343434;
	text-transform:uppercase;
	
}

.aboutTitle h1 span{
	display:block;
	color:#7a7a7a;
	font-size:14px;
	margin-top:8px;
	text-transform:none;
	
}


.aboutIntro{
	margin-top:50px;
}


.aboutIntro h1{
	text-transform:uppercase;
	color:#343434;
	line-height:30px;
	margin-bottom:30px;
}


.darkGrey{
	background:#343434;
	padding-top:70px;
	padding-bottom:20px;
}

.aboutInfo{
	color:#f2f2f1;
}

.aboutSocial{
	margin-top:30px;
}

.aboutSocial li{
	display:inline;
	color:#03CC85;
}

.aboutSocial li a{
	color:#03CC85;
}


.aboutSocial li a:hover{
	color:#555555;
}



/*End about*/



/*Resume*/


.resumeDetails, .skills{
	text-align:left;
}

.em, .ed{
	margin-bottom:40px;
	
	
}

.dtIco, .det{
	float:left;
}


.dtIco{
	margin-top:20px;
}


.dtIco span.date {
    background:#03CC85;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 15px;
    padding: 2px 10px;
}


.dtIco span.ico {
    background:#343434;
    border-radius: 100px;
    -webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    height: 100%;
    line-height: 44px;
    text-align: center;
    width: 45px;
	position:relative;
}


.employment, .education{
	position:relative;
}

.employment:before, .education:before {
    bottom: 0;
    content: "";
    left: 4%;
    margin-left: -5px;
    position: absolute;
    top: 125px;
    width: 3px;
}


.det {
    border: 3px solid #EFEFEF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
    margin-left: 250px;
    margin-top: -60px;
    padding: 30px;
    position: relative;
    width: 720px;
    box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

.det h3{
	margin-bottom:10px;
}

.det h3 span{
	font-size:12px;
}

.det:before {
    border-bottom: 15px solid #EFEFEF;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    bottom: -1px;
    content: "";
    height: 0;
    left: -24px;
    position: absolute;
    top: 34px;
    transform: rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
    width: 0;
}


.det:after {
    border-bottom: 15px solid #FFFFFF;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    bottom: -1px;
    content: "";
    height: 0;
    left: -20px;
    position: absolute;
    top: 34px;
    transform: rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
    width: 0;
}


.skills .titleSmall {
		margin-bottom:35px;
}

.widget{
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:3px solid #efefef;
}

.skillsList li {
    float: left;
    margin-bottom: 7px;
}


.skillsList li:last-child {
    margin-bottom: 0;
}


.skillsList h4{
	float:left;
	display:block;
	width:144px;
	text-transform:uppercase;
}

.rating{
	float:left;
	margin-top:1px;
}
.rating span{
	background:#343434;
	border-radius:100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	width:12px;
	height:12px;
	display:inline-block;
}

.transparent{
	opacity:.1;
}

.pList{
	margin-top:20px;
}

.pList li{
	margin-bottom:5px;
	color:#343434;
}

.pList li i{
	margin-right:5px;
	font-size:15px;
}


.getCv {
    background: #343434;
    display: inline-block;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.getCv h3 {
    float: right;
    padding: 15px 30px;
	color:#ffffff;
	text-transform:uppercase;
	font-size:14px;
}
.getCv i {
    color: #ffffff;
	background:#03CC85;
    float: left;
    font-size: 20px;
    padding: 15px;
	border-radius:4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-ms-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px;

}


/*End resume*/



/*Portfolio*/


#works{
	margin-bottom:40px;
}

.filterNav {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

ul#category {
	
    display: inline-block;
    position: relative;
}


ul#category li {
    display: inline-block;
	
}


ul#category li a {
    color: #444444;
    display: inline-block;
    padding: 10px 18px;
	position:relative;
	
}


ul#category li a:hover {
    color: #03CC85;
}

#category .current a:after {
    border-bottom: 1px solid #03CC85;
    content: "";
    display: block;
    position: absolute;
    right: 18px;
    top: 35px;
    width: 14px;
    z-index: 0;
}

#category .current a {
    color: #03CC85;
}

.item{

	position: relative;
	width: 320px !important;
	margin-left:0 !important;
	margin-right:0 !important;

}

.item a .desc {
	
    background: rgba(3, 204, 133, 0.95);
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
	left:0;
	top:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	
}

.item a .desc h3{
	color:#ffffff;
}

.projDesc span {
	display:block;
}


/*End portfolio*/



/*Contact*/


.contactForm h2{
	margin-bottom:10px;
}


.cForm {
	
	text-align:left;
}

.cForm form{
    width: 580px;
	margin:50px auto 10px;
}


.cForm label {
    color: #4d4d4d;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
	font-family: "open_sansbold";
}


.cForm input[type="text"], .cForm input[type="email"], input[type="number"], .cForm textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EFEFEF;
    color: #666666;
    margin-bottom: 10px;
    outline-width: 0;
    padding-left: 10px;
}


.cForm input[type="text"], .respondForm input[type="email"] {
    font-size: 13px;
    height: 40px;
    margin-bottom: 20px;
    width: 560px;
}


.cForm textarea {
    height: 170px;
    margin-bottom: -5px;
    padding-top: 10px;
    width: 560px;
    font-size: 13px;
}



.fBtn{
	text-align:center;
}

.cForm form #submit {
    color: #343434;
    cursor: pointer;
    display: inline-block;
    margin-top: 50px;
	background:#ffffff;
}




#success, #error {
    display: none;
    position: relative;
}


#success h2, #error h2 {
    color: #1FB4DA;
    font-size: 11px;
    left: 40%;
    position: absolute;
    top: 20px;
}

#error h2 {
    color: #CE3D3D;
}

.errorForm {
    border: 1px solid #da4856 !important;
}

/*End contact*/



/*Footer*/

.footer{
	
}

.footer.offset{
	padding-bottom:0;
}

.footerholder{
	background-color: #343434;
	padding:50px 0;
	font-size:12px;
	color:#cccccc;
}


.footerholder p{
	margin-top:10px;
}

.bLogo{
	text-transform: uppercase;
	color:#555555;
	position:relative;
}

.bLogo:after {
    border-bottom: 2px solid #555555;
    content: "";
    display: block;
    position: absolute;
    right: 1px;
    top: 15px;
    width: 10px;
    z-index: 0;
}

.socialsFooter{
	float:right;
}

.socialsFooter li {
    display: inline-block;
    margin-right: 2px;
    text-align: center;
}

.socialsFooter a {
    border: 3px solid #555555;
    border-radius: 100px;
    -webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
    color: #555555;
    display: inline-block;
    height: 40px;
    width: 40px;
    box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

.socialsFooter li i {
    line-height: 35px;
}

.socialsFooter a:hover {
	border: 3px solid #cccccc;
    color: #cccccc;
}



/*End footer*/




/*-------------------------------------------------------------------------*/

/* Media queries */


/*iPad lanscape*/
@media screen and (max-device-width: 960px){
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	#loaderInner {margin: -50px 0 0 -30px;}
	.dtIco span.date{font-family: 'open_sansregular';font-style:italic;}
	
}



/* Tablet Portrait size -> standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	#loaderInner {margin: -50px 0 0 -30px;}
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	.dtIco span.date{font-family: 'open_sansregular';font-style:italic;}
	.shortBtn{right:358px;}
	.det{width:300px;}
	.skillsList li{margin-bottom:15px;}
	.getCv h3{padding:15px 14px;}
	.item{width: 256px !important;}
	.employment:before, .education:before{left:5%;}
	
}


/* Mobile Landscape Size -> Tablet Portrait size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
	
	#loaderInner {margin: -50px 0 0 -30px;}
	.dtIco span.date{font-family: 'open_sansregular';font-style:italic;}
	.logo, nav#mainNav{float:none;}
		nav#mainNav{margin-right:0;margin-top:69px;}
		
		nav#mainNav ul{display:none;margin-bottom:10px;}
		nav#mainNav li{float:none; display:block;}
		nav#mainNav a.active:after{right:1px;top:22px;}
		.topSocials{display:none;}
		nav#mainNav li a{padding:3px 0px;display:inline-block;}
		.mobileBtn{display: inline-block;float: right;margin-right: 190px;margin-top: -51px;position: relative;}
		
		
		.shortBtn{right:-75px;top:-340px;}
		.aboutTitle { margin-left: 0px; }

		.imgAbout{height:40%;width:100%;}
		.aboutContent {margin-left: 0;}
		
		.employment, .education{margin-top:50px;}
		.employment:before, .education:before{background:none;}
		.dtIco {margin-left:10px;}
		.det{width:420px;margin-left:0;margin-top: 30px;}
		.det:before {
		    left: 10px;
		    top: -17px;
		    ttransform: rotate(0deg);
			-moz-transform:rotate(0deg);
			-webkit-transform:rotate(0deg);
			-o-transform:rotate(0deg);
			-ms-transform:rotate(0deg);
		}
		
		.det:after {
		    left: 10px;
		    top: -13px;
		    transform: rotate(0deg);
			-moz-transform:rotate(0deg);
			-webkit-transform:rotate(0deg);
			-o-transform:rotate(0deg);
			-ms-transform:rotate(0deg);
		}
		
		
		.item{width: 420px !important;}
		.item a .desc {left: 50px;width: 76.3%;}
		
		
		.cForm form{width:400px;}
		.cForm input[type="text"], .respondForm input[type="email"]{width:400px;}
		.cForm textarea{width:400px;}
		
		.footerholder{text-align:center;}
		.socialsFooter{float:none;margin-top:10px;}


	
}


/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width:479px) {
	
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
	
	#loaderInner {margin: -50px 0 0 -30px;}
	.dtIco span.date{font-family: 'open_sansregular';font-style:italic;}
	.logo, nav#mainNav{float:none;}
		nav#mainNav{margin-right:0;margin-top:69px;}
		
		nav#mainNav ul{display:none;margin-bottom:10px;}
		nav#mainNav li{float:none; display:block;}
		nav#mainNav a.active:after{right:1px;top:22px;}
		.topSocials{display:none;}
		nav#mainNav li a{padding:3px 0px;display:inline-block;}
		.mobileBtn{display: inline-block;float: right;margin-right: 135px;margin-top: -51px;position: relative;}
		
		
		.shortBtn{right:-10px;top:-290px;}
		.aboutTitle { margin-left: 0px;
}

		.imgAbout{height:20%;width:100%;}
		.aboutContent {margin-left: 0;}
		
		.employment, .education{margin-top:50px;}
		.employment:before, .education:before{background:none;}
		.dtIco {margin-left:10px;}
		.det{width:300px;margin-left:0;margin-top: 30px;}
		.det:before {
		    left: 10px;
		    top: -17px;
		    ttransform: rotate(0deg);
			-moz-transform:rotate(0deg);
			-webkit-transform:rotate(0deg);
			-o-transform:rotate(0deg);
			-ms-transform:rotate(0deg);
		}
		
		.det:after {
		    left: 10px;
		    top: -13px;
		    transform: rotate(0deg);
			-moz-transform:rotate(0deg);
			-webkit-transform:rotate(0deg);
			-o-transform:rotate(0deg);
			-ms-transform:rotate(0deg);
		}
		
		ul#category li{display:block;}
		.item{width: 300px !important;}
		
		
		.cForm form{width:300px;}
		.cForm input[type="text"], .respondForm input[type="email"]{width:300px;}
		.cForm textarea{width:300px;}
		
		.footerholder{text-align:center;}
		.socialsFooter{float:none;margin-top:10px;}
	


	
}


/*End media queries*/
/*-------------------------------------------------------------------------*/




